.entry {
  position: relative;
  margin-top: 5px;

  &__introduction {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;

    @include media-tablet-and-up {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      margin-top: 80px;
      max-width: 222px;
    }

    @include media-lg-desktop-and-up {
      margin-top: 115px;
      font-size: 24px;
      line-height: 31px;
      font-weight: 500;
      max-width: 330px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    line-height: 53px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-tablet-and-up {
      margin-top: 77px;
      text-align: center;
      font-size: 64px;
      line-height: 77px;
      margin-bottom: 77px;
    }

    @include media-lg-desktop-and-up {
      flex-direction: row;
      font-size: 72px;
      line-height: 86px;
      margin-top: 154px;
    }
  }

  &__sub-title {
    @include media-lg-desktop-and-up {
      margin-left: 74px;
      margin-right: 74px;
    }
  }
  &__bg {
    overflow: hidden;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 375px 345px 0px 0px;

    @include media-xxs-mobile-only-and-up {
      top: 0;
      transform: translateX(-50%);
      left: 50%;
      width: 100%;
      max-height: 392px;
      max-width: 390px;
    }
    @include media-tablet-and-up {
      max-width: 578px;
      max-height: 628px;
    }
    @include media-lg-desktop-and-up {
      width: 699px;
      height: 753px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding-bottom: 23px;

    @include media-tablet-and-up {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      max-width: 380px;
    }
    @include media-lg-desktop-and-up {
      margin-top: 107px;
    }
  }

  &__button {
    margin-top: 17px;

    @include media-tablet-and-up {
      position: absolute;
      bottom: 52px;
      right: 1px;
    }
    @include media-lg-desktop-and-up {
      right: 150px;
      bottom: 70px;
    }
  }
}
