.sked {
  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include media-tablet-and-up {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__card {
    background-color: #17171a;
    padding: 20px;
    max-width: 320px;

    @include media-lg-desktop-and-up {
      max-width: 410px;
      height: 540px;
      padding: 30px;
    }
  }

  &__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;

    @include media-lg-desktop-and-up {
      margin-bottom: 50px;
    }
  }

  &__regular {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;

    @include media-lg-desktop-and-up {
      font-size: 36px;
      line-height: 43px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 40px;

    @include media-lg-desktop-and-up {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 60px;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__bold {
    font-size: 18px;
    line-height: 22px;
    text-decoration: line-through;
  }
}
