.trainer {
  &__title {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;

    @include media-tablet-and-up {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 60px;
    }

    @include media-lg-desktop-and-up {
      font-size: 72px;
      line-height: 86px;
      font-weight: bold;
    }
  }

  &__list {
    @include media-tablet-and-up {
      display: flex;
      gap: 20px;
    }
  }

  &__card {
    @include media-lg-desktop-and-up {
      position: relative;
      padding-bottom: 20px;
      overflow: hidden;
    }

    &:hover {
      @include media-lg-desktop-and-up {
        .sub-title {
          transform: translateY(-150%);
        }
        .text {
          transform: translateY(-100%);
        }
        .img-m {
          height: 75%;
        }
      }
    }
  }

  &__wrapper {
    @include media-lg-desktop-and-up {
      position: absolute;
      bottom: 0;
    }
  }

  &__img-m {
    max-width: 320px;
    max-height: 280px;

    @include media-lg-desktop-and-up {
      max-width: 630px;
      max-height: 550px;
      object-fit: cover;
    }
  }

  &__sub-title {
    display: flex;
    gap: 5px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -20px;
  }
  &__upper {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 40px;

    @include media-lg-desktop-and-up {
    }
  }
}
