.button {
  background: #f9ba50;
  padding: 14px 40px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  text-transform: uppercase;

  @include media-lg-desktop-and-up {
    padding-right: 79px;
  }

  &--lg {
    padding-left: 45px;
    padding-right: 45px;
    @include media-lg-desktop-and-up {
      gap: 10px;
      padding-left: 93px;
      padding-right: 93px;
    }
  }
}
